<!doctype html>
<html lang="es" *ngIf="this.userid">
<head>
    <link rel="stylesheet" type="text/css" media="all"
        href="https://www.cambiagro.com.gt/static/version1646355253/frontend/Cambiagro/default/es_MX/css/app.css" />
    <link rel="stylesheet" type="text/css" media="all"
        href="https://www.cambiagro.com.gt/static/version1646355253/frontend/Cambiagro/default/es_MX/css/styles.css" />
</head>
<style>
    .image_full{
   display:block;
  }

 .image_mobile{
  display:none;
 }
 .image_medio{
  display:none;
 }

@media only screen and (max-width: 600px) {
    .image_full{
   display:none;
  }

  .image_mobile{
   display:block;
  }

  .image_medio{
  display:none;
 }
}

.catalog_products {
        margin: 0 auto;
        position: relative;
        text-align: center;
        width: 500rem;
        max-width: 100%;
        background: #fff;
    }

    .product_card {
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        width: 425px;
        max-width: 47%;
        background: #fff;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px #ccc;
        margin: 1%;
    }

    .product-name {
        width: 100%;
        text-align: left;
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: bold;
    }

    #qty {
        width: 90px;
        height: 30px;
        text-align: left;
        font-size: 12px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: bold;
        border: 1px solid #ccc;
        border-radius: 20px;
        margin-left: 1%;
    }

    #boton_comprar {
        text-align: left;
        font-size: 12px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: bold;
    }

@media only screen and (min-width: 600px) {
    .image_full{
   display:none;
  }

  .image_mobile{
   display:block;
  }

  .image_medio{
  display:none;
 }
}

@media only screen and (min-width: 768px) {
    .image_full{
   display:none;
  }

  .image_mobile{
   display:none;
  }

  .image_medio{
  display:block;
 }
} 

@media only screen and (min-width: 992px) {
    .image_full{
   display:block;
  }

 .image_mobile{
  display:none;
 }
 .image_medio{
  display:none;
 }
} 
@media only screen and (min-width: 1200px) {
    .image_full{
   display:block;
  }

 .image_mobile{
  display:none;
 }
 .image_medio{
  display:none;
 }
}
</style>
<body data-container="body">
  

    <div class="m-page" >
        <header class="page-header" style="position: sticky;top:0;z-index: 99999;">
            <img src="./../../assets/img/distribuidores2.png" title="" alt="" class="image_full" />
            <img src="./../../assets/img/distribuidores_medio2.jpg" title="" alt="" class="image_medio" />
            <img src="./../../assets/img/BannerWEb.svg" title="" alt="" class="image_mobile" />
            <nav class="navbar navbar-main is-black is-hidden-desktop n-v-s">
                <div class="navbar-brand">
                    <img style="max-width: 232px;" 
                            src="./../../assets/img/Cambiagro_Negative_Green.svg"
                            title="" alt="" />
                    <div class="action switcher-responsive navbar-item px-0 py-0 item-mobile is-hidden-desktop ml-auto">
                        <div class="dropdown">
                            <button class="dropbtn">
                                <fa-icon [icon]="faUser"></fa-icon>
                            </button>
                            <div class="dropdown-content" style="right:0;">
                            <a href="https://www.eventoscambiagro.com/client">Ver Productos</a>
                            <a href="https://www.eventoscambiagro.com/" (click)="cerrarsesion();">Cerrar Sesión</a>
                            </div>
                          </div>
                    </div>
                    <nav class="navbar-item px-0 py-0 is-hidden-desktop item-mobile">
                    </nav>
                </div>
            </nav>
            <nav class="is-header-desktop-menu navbar is-black" role="navigation" id="menu-des" name="menu-des" data-action="navigation">
                <div class="navbar-menu js-menu-open" style="height: 4.75rem;">
                    <img style="max-width: 232px;" 
                            src="./../../assets/img/Cambiagro_Negative_Green.svg"
                            title="" alt="" />
                    <ul class="navbar-end"> 
                    <a class="action showcart navbar-item px-0 py-0 item-mobile"
                        href="https://www.eventoscambiagro.com/mispedidos" data-bind="scope: 'minicart_content'"
                        data-block="minicart">
                        <button class="button is-white" style="background-color: #0000; color: white;">
                            <span class="icon">
                                <span class="" ></span>
                                <fa-icon [icon]="faCartShopping" size="xs"></fa-icon>
                            </span>
                        </button>
                    </a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            <fa-icon [icon]="faUser"></fa-icon>
                            <span style="font-size: 1.25rem !important;" class="has-text-primary has-text-weight-medium ml-2">
                                Mi Perfil </span>
                        </a>
                        <div class="navbar-dropdown is-right">
                            <a class="navbar-item has-text-black"
                                href="https://www.eventoscambiagro.com/client">
                                <span style="font-size: 1.25rem !important;" class="ml-2 has-text-weight-medium is-size-6">
                                    Ver Productos </span>
                            </a>
                            
                            <hr class="navbar-divider">
                            <a class="navbar-item has-text-black"
                                href="https://www.eventoscambiagro.com/">
                                <span style="font-size: 1.25rem !important;" class="ml-2 has-text-weight-medium is-size-6" (click)="cerrarsesion();">Cerrar sesión</span>
                            </a>
                        </div>
                    </div>
                </ul>
                </div>
            </nav>
        </header>
        <br />

        <!-- Modal -->
  <div  style="margin-top: 89px;" class="modal" [ngClass]="{'is-active': isEdit === true}">
    <form  #modalform="ngForm" (ngSubmit)="editCompra(this.entity, modalform.value); cerrardialog(); this.modalform.reset();">
      <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
        <p class="modal-card-title">Modificar Datos</p>
        <button class="delete" aria-label="close" (click)="cerrardialog()"></button>
      </header>
      <section class="modal-card-body">
        
            <input type="number" id="qty" name="qty" placeholder="Cantidad" min="1" max="100" ngModel>
            &nbsp;
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" type="submit" value="submit">Save changes</button>
        <button class="button" (click)="cerrardialog()">Cancel</button>
      </footer>
    </div>
    </form>
  </div>

    <main id="maincontent" style="left:25rem;"><div><div ></div>

</div>
<a id="contentarea" tabindex="-1"></a>
<div class="m-page__wrapper_container column ">
<input name="form_key" type="hidden" value="f5thlAfA3SDP4SyC"><div id="authenticationPopup" data-bind="scope:'authenticationPopup', style: {display: 'none'}" style="display: none;">
        <script>window.authenticationPopup = {"autocomplete":"off","customerRegisterUrl":"https:\/\/www.cambiagro.com.co\/customer\/account\/create\/","customerForgotPasswordUrl":"https:\/\/www.cambiagro.com.co\/customer\/account\/forgotpassword\/","baseUrl":"https:\/\/www.cambiagro.com.co\/"}</script>    <!-- ko template: getTemplate() -->
</div>






<div class="container mt-10 ml-10">
    <h1 class="title">Mis Pedidos </h1>
            <div class="columns">
        <div class="column">
                            <div class="table-wrapper orders-history table-container">
<table _ngcontent-khy-c135="" id="my-orders-table" class="data table table-order-items history is-fullwidth">
<thead _ngcontent-khy-c135=""><tr _ngcontent-khy-c135="">
<th _ngcontent-khy-c135="" data-th="Pedido No." class="col sap-id">
	<span _ngcontent-khy-c135="" class="product-table-title">Referencia</span>
</th>
<th _ngcontent-khy-c135="" scope="col" class="col actions">Fecha</th>
<th _ngcontent-khy-c135="" scope="col" class="col actions">Producto</th>
<th _ngcontent-khy-c135="" scope="col" class="col actions">Codigo Producto</th>
<th _ngcontent-khy-c135="" scope="col" class="col total">
	<span _ngcontent-khy-c135="" class="product-table-title">Precio Unitario</span>
</th>
<th _ngcontent-khy-c135="" scope="col" class="col date">
	<span _ngcontent-khy-c135="" class="product-table-title">Cantidad</span>
</th>
<th _ngcontent-khy-c135="" scope="col" class="col date">
	<span _ngcontent-khy-c135="" class="product-table-title">Total</span>
</th>
<th _ngcontent-khy-c135="" scope="col" class="col actions">&nbsp;</th>

</tr>
</thead>
<tbody _ngcontent-khy-c135="">
<tr *ngFor="let orden of ListarOrdenes; let ini = index" _ngcontent-khy-c135="">
        <td _ngcontent-khy-c135="" data-th="Pedido No." class="col sap-id"> 000{{orden.customer_group_code+"_"+orden.entity_id}}</td>
        <td _ngcontent-khy-c135="" data-th="Fecha" class="col date"><strong _ngcontent-khy-c135="">{{ orden.created_at | date:'d/M/y h:mm a' }}</strong></td>
        <td _ngcontent-khy-c135="" data-th="Fecha" class="col date"><strong _ngcontent-khy-c135="">{{ orden.name }}</strong></td>
        <td _ngcontent-khy-c135="" data-th="Fecha" class="col date"><strong _ngcontent-khy-c135="">{{ orden.entity_product }}</strong></td>
        <td _ngcontent-khy-c135="" data-th="Total" class="col total"><strong _ngcontent-khy-c135=""><span _ngcontent-khy-c135="" data-gtm-vis-recent-on-screen-32257431_89="75" data-gtm-vis-first-on-screen-32257431_89="75" data-gtm-vis-total-visible-time-32257431_89="100" data-gtm-vis-has-fired-32257431_89="1" class="price">Q{{orden.price | number }}</span></strong></td>
        <td _ngcontent-khy-c135="" data-th="Fecha" class="col date">
            <strong  [hidden]="isEdit" _ngcontent-khy-c135="">{{orden.qty}}</strong>
        </td>
        <td _ngcontent-khy-c135="" data-th="Total" class="col total"><strong _ngcontent-khy-c135=""><span _ngcontent-khy-c135="" data-gtm-vis-recent-on-screen-32257431_89="75" data-gtm-vis-first-on-screen-32257431_89="75" data-gtm-vis-total-visible-time-32257431_89="100" data-gtm-vis-has-fired-32257431_89="1" class="price">Q{{orden.total | number }}</span></strong></td>
        <td _ngcontent-khy-c135="" data-th="Detalles" class="col actions">
            <a [hidden]="isEdit" _ngcontent-khy-c135="" class="action view button is-primary is-rounded" style="background-color:#f0ad4e; color:#00000" (click)="cambiarEntity(orden.entity_id, orden.qty);" ><span _ngcontent-khy-c135="">Modificar</span></a>
            <a _ngcontent-khy-c135="" class="action view button is-primary is-rounded" style="background-color:#d9534f; color:#00000; left: 1rem;" (click)="eliminar(orden.entity_id)"><span _ngcontent-khy-c135="">Eliminar</span></a>
        </td>
    </tr>

</tbody></table>
    </div>
    <div class="order-products-toolbar toolbar bottom"><div class="columns">
    <div class="column">
        <nav class="pagination is-rounded" role="navigation" aria-label="pagination">                    
        </nav>
    </div>
</div>
</div>
                                    </div>
    </div>
</div>

<script>
require([
    'jquery',
], function(Q){

//<![CDATA[
    Q.extend(true, Q, {
        calendarConfig: {
            dayNames: ["domingo","lunes","martes","mi\u00e9rcoles","jueves","viernes","s\u00e1bado"],
            dayNamesMin: ["dom","lun","mar","mi\u00e9","jue","vie","s\u00e1b"],
            monthNames: ["enero","febrero","marzo","abril","mayo","junio","julio","agosto","septiembre","octubre","noviembre","diciembre"],
            monthNamesShort: ["ene","feb","mar","abr","may","jun","jul","ago","sept","oct","nov","dic"],
            infoTitle: 'Acerca\u0020del\u0020calendario',
            firstDay: 1,
            closeText: 'Cerrar',
            currentText: 'Hoy',
            prevText: 'Anterior',
            nextText: 'Siguiente',
            weekHeader: 'semana',
            timeText: 'Zeit',
            hourText: 'Hora',
            minuteText: 'Minuto',
            dateFormat: "D, d M yy", // Q.datepicker.RFC_2822
            showOn: 'button',
            showAnim: '',
            changeMonth: true,
            changeYear: true,
            buttonImageOnly: null,
            buttonImage: null,
            showButtonPanel: true,
            showWeek: true,
            timeFormat: '',
            showTime: false,
            showHour: false,
            showMinute: false
        }
    });

    enUS = {"m":{"wide":["January","February","March","April","May","June","July","August","September","October","November","December"],"abbr":["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]}}; // en_US locale reference
//]]>

});</script></div>

</main>
</div>
</body>
<script>
        window.dataLayer = window.dataLayer || [];
        if (window.dataLayer) {
            window.dataLayer.push({
                'userId': this.userid,
            });
        }
    </script>
</html>

