<!doctype html>
<html lang="es" *ngIf="this.userid">

<head>
</head>
<style>
    .image_full{
   display:block;
  }
 .image_mobile{
  display:none;
 }
 .image_medio{
  display:none;
 }
@media only screen and (max-width: 600px) {
    .image_full{
   display:none;
  }
  .image_mobile{
   display:block;
  }
  .image_medio{
  display:none;
 }
 .product_card {
        display: inline-grid;
        margin: 0 auto;
        text-align: center;
        width: 425px;
        max-width: 47%;
        background: #fff;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px #ccc;
        margin: 1%;
    }
}
.catalog_products {
        margin: 0 auto;
        position: relative;
        text-align: center;
        width: 500rem;
        max-width: 100%;
        background: #fff;
    }
    .product_card {
        display: inline-grid;
        margin: 0 auto;
        text-align: center;
        width: 425px;
        max-width: 47%;
        background: #fff;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px #ccc;
        margin: 1%;
    }
    .product-name {
        width: 100%;
        text-align: left;
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: bold;
    }
    #qty {
        width: 90px;
        height: 30px;
        text-align: left;
        font-size: 12px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: bold;
        border: 1px solid #ccc;
        border-radius: 20px;
        margin-left: 1%;
    }
    #boton_comprar {
        text-align: left;
        font-size: 12px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: bold;
    }
@media only screen and (min-width: 600px) {
    .image_full{
   display:none;
  }
  .image_mobile{
   display:block;
  }
  .image_medio{
  display:none;
 }
 .product_card {
        display: inline-grid;
        margin: 0 auto;
        text-align: center;
        width: 425px;
        background: #fff;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px #ccc;
        margin: 1%;
    }
}
@media only screen and (min-width: 768px) {
    .image_full{
   display:none;
  }
  .image_mobile{
   display:none;
  }
  .image_medio{
  display:block;
 }
	
}
@media only screen and (min-width: 992px) {
    .image_full{
   display:block;
  }
 .image_mobile{
  display:none;
 }
 .image_medio{
  display:none;
 }
 .product_card {
        display: inline-grid;
        margin: 0 auto;
        text-align: center;
        width: 425px;
        max-width: 47%;
        height: 440px;
        max-height: 50%;
        background: #fff;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px #ccc;
        margin: 1%;
    }
}
@media only screen and (min-width: 1200px) {
    .image_full{
   display:block;
  }
 .image_mobile{
  display:none;
 }
 .image_medio{
  display:none;
 }
 .product_card {
        display: inline-grid;
        margin: 0 auto;
        text-align: center;
        width: 425px;
        max-width: 47%;
        height: 440px;
        max-height: 50%;
        background: #fff;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px #ccc;
        margin: 1%;
    }
}
</style>
<body data-container="body">
    <div class="m-page">
        <header class="page-header" style="position: sticky;top:0;z-index: 99999;">
            <img src="./../../assets/img/distribuidores2.png" title="" alt="" class="image_full" />
            <img src="./../../assets/img/distribuidores_medio2.jpg" title="" alt="" class="image_medio" />
            <img src="./../../assets/img/BannerWEb.svg" title="" alt="" class="image_mobile" />
            <nav class="navbar navbar-main is-black is-hidden-desktop n-v-s">
                <div class="navbar-brand">
                    <form class="field has-addons is-fullwidth mr-1 px-3 my-4" #userForm="ngForm" (ngSubmit)="busquedaNombre(userForm.value); this.userForm.reset();">
                        <p class="control">
                            <span class="select is-rounded is-primary">
                                <span class="select is-rounded is-primary">
                                    <select #mySelect (change)="buscarcategoria(mySelect.value)">
                                        <option value="1" ngModel>PNC</option>
                                        <option value="2" ngModel>PPC</option>
                                        <option value="3" ngModel>Comodity</option>
                                        <option value="4" ngModel>Estrategico</option>
                                        <option value="5" ngModel>Foliares</option>
                                    </select>
                                </span>
                            </span>
                        </p>
                        <p class="control is-fullwidth">
                            <input required id="search" type="text" name="q" id="q" class="input is-rounded is-primary is-search-input is-fullwidth aa-input" placeholder="Buscar por nombre" ngModel>
                        </p>
                        <p class="control" style="margin-right: 10px;">
                            <button type="submit" value="submit" class="button is-rounded is-search-button py-0">
                                <span class="icon icon-login is-small has-text-primary">
                                    <fa-icon [icon]="search" size="xs"></fa-icon>
                                </span>
                            </button>
                        </p>
                    </form>
                    <div class="action switcher-responsive navbar-item px-0 py-0 item-mobile is-hidden-desktop ml-auto">
                        <div class="dropdown">
                            <button class="dropbtn">
                                <fa-icon [icon]="faUser"></fa-icon>
                            </button>
                            <div class="dropdown-content" style="right:0;">
                            <a href="https://www.eventoscambiagro.com/mispedidos">Mis Pedidos</a>
                            <a href="https://www.eventoscambiagro.com/" (click)="cerrarsesion();">Cerrar sesión</a>
                            </div>
                          </div>
                    </div>
                    <nav class="navbar-item px-0 py-0 is-hidden-desktop item-mobile">
                    </nav>
                </div>
            </nav>
            <nav class="is-header-desktop-menu navbar is-black" role="navigation" id="menu-des" name="menu-des" data-action="navigation">
                <div class="navbar-menu js-menu-open" style="height: 4.75rem;">
                    <img style="max-width: 232px;" 
                            src="./../../assets/img/Cambiagro_Negative_Green.svg"
                            title="" alt="" />
                    <form class="field has-addons is-fullwidth mr-1 px-3 my-4" #userFormd="ngForm" (ngSubmit)="busquedaNombre(userFormd.value); this.userFormd.reset();">
                        <p class="control">
                            <span class="select is-rounded is-primary">
                                <select #mySelect (change)="buscarcategoria(mySelect.value)">
                                    <option value="1" ngModel>PNC</option>
                                    <option value="2" ngModel>PPC</option>
                                    <option value="3" ngModel>Comodity</option>
                                    <option value="4" ngModel>Estrategico</option>
                                    <option value="5" ngModel>Foliares</option>
                                </select>
                            </span>
                        </p>
                            <p class="control is-fullwidth">
                                <input required id="search" type="text" name="q" id="q" class="input is-rounded is-primary is-search-input is-fullwidth aa-input" placeholder="Buscar por nombre" ngModel>
                            </p>
                            <p class="control" style="margin-right: 10px;">
                                <button type="submit" value="submit" class="button is-rounded is-search-button py-0">
                                    <span class="icon icon-login is-small has-text-primary">
                                        <fa-icon [icon]="search" size="xs"></fa-icon>
                                    </span>
                                </button>
                            </p>
                    </form>
                    <ul class="navbar-end"> 
                    <a class="action showcart navbar-item px-0 py-0 item-mobile"
                        href="https://www.eventoscambiagro.com/mispedidos" data-bind="scope: 'minicart_content'"
                        data-block="minicart">
                        <button class="button is-white" style="background-color: #0000; color: white;">
                            <span class="icon">
                                <span class="" ></span>
                                <fa-icon [icon]="faCartShopping" size="xs"></fa-icon>
                            </span>
                        </button>
                    </a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="https://www.cambiagro.com.gt/customer/account/">
                            <fa-icon [icon]="faUser"></fa-icon>
                            <span style="font-size: 1.25rem !important;" class="has-text-primary has-text-weight-medium ml-2">
                                Mi Perfil </span>
                        </a>
                        <div class="navbar-dropdown is-right">
                            <a class="navbar-item has-text-black"
                                href="https://www.eventoscambiagro.com/mispedidos">
                                <span style="font-size: 1.25rem !important;" class="ml-2 has-text-weight-medium is-size-6">
                                    Mis pedidos </span>
                            </a>
                            
                            <hr class="navbar-divider">
                            <a class="navbar-item has-text-black"
                                href="https://www.eventoscambiagro.com/"
                                data-post="{&quot;action&quot;:&quot;https:\/\/www.cambiagro.com.gt\/customer\/account\/logout\/&quot;,&quot;data&quot;:{&quot;uenc&quot;:&quot;aHR0cHM6Ly93d3cuY2FtYmlhZ3JvLmNvbS5ndC90aWVuZGE,&quot;}}">
                                <span style="font-size: 1.25rem !important;" class="ml-2 has-text-weight-medium is-size-6" (click)="cerrarsesion();">Cerrar sesión</span>
                            </a>
                        </div>
                    </div>
                </ul>
                </div>
            </nav>
        </header>
        <br />
        <div [hidden]="!alert" class="alert alert-success alert-dismissible" role="alert" style="color: #155724; background-color: #D4EDDA; border-color: #C3E6CB;padding: 0.75rem 1.25rem; margin-bottom: 1rem; border: 1px solid transparent; border-radius: 0.25rem;position: fixed;z-index: 9999; width: 100%;" name="alertmsg" id="alertmsg">
            <strong>Completado!</strong> Se ha realizado el pedido de <strong> {{msg}} </strong>correctamente. 
        </div>
        <div  (click)="listarEquipo()"  [hidden]="!busqueda" class="alert alert-warning" role="alert" style="cursor: pointer; color: #856404; background-color:#fff3cd;padding: 0.75rem 1.25rem; margin-bottom: 1rem; border: 1px solid transparent; border-radius: 0.25rem;position: fixed;z-index: 9997; width: 100%;" name="alertmsg" id="alertmsg">
            Búsqueda realizada. Volver a tienda  <strong> click aquí </strong>. 
        </div>
        <div class="catalog_products d-flex justify-content-around align-items-center flex-wrap">
            <input name="form_key" type="hidden" value="8zLya2J4gn2U97lX" />
            <div class="product_card" *ngFor="let equipo of ListarEquipo; let i = index;">
                <div style="top:0;">
                <div class="media"><div class="media-left mr-auto"><div class="media-right"><a class="button is-small is-rounded is-primary px-2" >
                    <span class="has-text-white">{{equipo.entity_id}}</span>
                </a></div>
                </div></div>
                <img class="product-image-photo" src="{{ '../../assets/img/'+ equipo.image}}" loading="lazy" width="180" height="180" alt="Eventos Cambiagro" />
                <br/>
                <span class="product-name">
                {{ equipo.name }} </span><br/>
                <div [innerHtml]="parserjson(equipo.detail)"></div>
                </div>
                <div style="bottom:0;">
                <span *ngIf="equipo.originalprice" class="has-text-danger is-size-5 has-text-weight-bold"><del>
                    Q{{  equipo.originalprice | number}}</del>
                </span>
                <span class="has-text-primary is-size-5 has-text-weight-bold">
                  Q{{ equipo.price | number}}
                  </span>
                <br/>
                <form class="d-flex justify-content-around align-items-center flex-wrap" style="padding-top:10px;padding-bottom:10px;" #userlogin="ngForm" (ngSubmit)="compra(equipo.name, equipo.price , 1, this.userid, equipo.entity_id, equipo.price, userlogin.value); ocultar(); this.userlogin.reset();">
                    <input *ngIf="equipo.status!=1" type="number" id="qty" name="qty" placeholder="Cantidad" min="1" max="100" ngModel>
                    &nbsp;
                    <a *ngIf="equipo.status!=1">
                        <button id="boton_comprar" type="submit" class="button is-rounded is-primary col-sm-9 col-md-6" value="submit">
                      Comprar</button> </a>
                    <a *ngIf="equipo.status==1">
                        <br/><br/>
                    </a>
                </form>
            </div>
            </div>

        </div>
        <br>
        <footer class="page-footer">
            <div class="footer">
                <section class="section has-footer-bg">
                    <div class="container">
                        <div class="columns is-vcentered">
                            <div class="column is-two-thirds-desktop">
                                <h1 class="title has-text-white is-size-6">ACERCA DE NOSOTROS</h1>
                                <p class="footer-text-description is-hidden-touch">
                                    Cambiagro es una plataforma digital diseñada para aquellos miembros del mundo
                                    agrícola con una visión de desarrollo a través del mundo digital. Cambiagro ofrece
                                    las funcionalidades, los productos y el conocimiento experto, para alcanzar la
                                    excelencia en los cultivos y obtener los mejores resultados financieros en su agro
                                    negocio. Es el espacio en el que ponemos a su disposición los recursos y las
                                    herramientas para hacer crecer su agro negocio. </p>
                                <p class="footer-text-description is-hidden-desktop">
                                    Cambiagro es una plataforma digital diseñada para aquellos miembros del mundo
                                    agrícola con una visión de desarrollo a través del mundo digital. Cambiagro ofrece
                                    las funcionalidades, los productos y el conocimiento experto, para alcanzar la
                                    excelencia en los cultivos y obtener los mejores resultados financieros en su agro
                                    negocio. Es el espacio en el que ponemos a su disposición los recursos y las
                                    herramientas para hacer crecer su agro negocio. </p>
                            </div>
                            <div class="column is-one-third-desktop has-text-right">
                                <img class="footer-logo"
                                    src="https://www.cambiagro.com.gt/static/version1646355253/frontend/Cambiagro/default/es_MX/images/cambiagro-disagro-footer.png">
                                
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </footer>
        <script>
</script>
<br/>

    </div>
    </body>
    <script>
            window.dataLayer = window.dataLayer || [];
            if (window.dataLayer) {
                window.dataLayer.push({
                    'userId': this.userid,
                });
            }
        </script>
</html>