/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden] {
    display: none;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
}
a:focus {
    outline: thin dotted;
}
a:active,
a:hover {
    outline: 0;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
mark {
    background: #ff0;
    color: #000;
}
code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}
pre {
    white-space: pre-wrap;
}
q {
    quotes: "\201C""\201D""\2018""\2019";
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0;
    padding: 0;
}
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
button,
input {
    line-height: normal;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.info-body-color {
    background-color: #f4f4f4;
    border-left-style: 1px solid #e9e9ea;
    border-right-style: 1px solid #e9e9ea;
    border-top-style: 1px solid #e9e9ea;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    box-sizing: border-box;
    margin-left: 3%;
    margin-right: 3%;
}
.info-position {
    margin-top: 20px;
}
.info-header-text {
    padding: 1.5rem;
}
.padding-view {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.order-title {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #282b38;
}
.info-text-style {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #0f1322;
}
.status-text-style {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 24px;
    color: #000000;
}
.order-page-title {
    margin-left: 3%;
}
.view-body-color {
    background-color: #f4f4f4;
    border-left-style: 1px solid #e9e9ea;
    border-right-style: 1px solid #e9e9ea;
    border-bottom-style: 1px solid #e9e9ea;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-sizing: border-box;
    margin-left: 3%;
    margin-right: 3%;
}
.is-no-radius-body {
    background-color: #f4f4f4;
    border-left-style: 1px solid #e9e9ea;
    border-right-style: 1px solid #e9e9ea;
    border-bottom-style: 1px solid #e9e9ea;
    box-sizing: border-box;
    margin-left: 3%;
    margin-right: 3%;
}
.totals-box-position {
    position: absolute;
    top: 330px;
    right: 6%;
    height: 480px;
    border-radius: 16px;
}
.totals-box-color {
    background-color: #f4fcf4;
    border-radius: 16px;
}
.bottom-border {
    border-bottom: 1px solid #c4c4c4;
}
.total-box-title {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-transform: uppercase;
    padding-top: 30px;
}
.totals-table {
    width: 100%;
    text-transform: uppercase;
    border-spacing: 0 32px;
    font-size: 15px;
}
.totlas-span {
    float: right;
}
.product-text {
    font-size: 18px;
    line-height: 1.125;
    font-weight: 600;
    color: #363636;
}
.table-products {
    overflow-x: auto;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 32px;
    background-color: transparent;
}
.table-products-ship {
    overflow-x: auto;
    width: 100%;
    background-color: transparent;
}
.table-products-ship tr {
    background-color: #fff;
}
.table-products-ship th:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.table-products-ship tr:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.product-table-title {
    text-transform: uppercase;
    color: #999999;
    font-size: 13px;
    line-height: 22px;
    font-weight: 500;
}
.product-item-name {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}
.product-item-des {
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}
.product-table-status {
    background-color: #cfd0d3;
    border-radius: 39px;
    padding-left: 20px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-right: 20px;
    margin: 2px;
}
.table-products tr {
    background-color: #fff;
}
.table-products tr td:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.table-products tr td:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.reorder-position {
    margin-top: -65px;
}
.box-transparent {
    background-color: transparent;
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
}
#back-orders {
    background-color: transparent;
    color: #1bcc1b;
    border-color: transparent !important;
    font-weight: bold;
}
.arrow-icon {
    color: #000000;
}
.totals-table td.amount {
    text-align: right;
}
.totals-table th.mark {
    color: #656386;
}
.totals-table tr.grand_total {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.totals-table tr > td,
tr > th {
    padding-bottom: 1.5em;
    padding-top: 1.5em;
}
.item-size-detail {
    width: 100px;
    color: #ffffff;
    background-color: #656386;
    border-radius: 20px;
    padding: 3px;
    margin: 2px;
    text-align: center;
}
.item-box-1 {
    background-color: #ffffff;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}
.item-box-2 {
    background-color: #ffffff;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}
.item-box-container {
    background-color: #ffffff;
    border-radius: 16px;
}
.ship-box-1 {
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #c4c4c4;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.ship-box-2 {
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.item-padding {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}
.is-primary-ship {
    border-color: #1ccc1d;
    color: #1ccc1d;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
}
.icon-fill-size {
    font-weight: 500;
    font-size: 15px;
    line-height: 11px;
}
.ship-status {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}
.ship-date {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
    color: #656386;
}
.ship-number {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
    color: #000000;
}
.position-size {
    margin-left: -2em;
}
.ship-product-box {
    background: #ffffff;
    border-radius: 16px;
    border: 1px solid #c4c4c4;
    margin-top: -64px;
}
.close-btom {
    float: right;
    background: transparent;
}
.close-btom:before {
    background: #1ccc1d;
}
.close-btom:after {
    background: #1ccc1d;
}
.imput-border-bottom {
    border-bottom: 1px solid #1ccc1d;
}
.sales-order-view .box-content .payment-method .title {
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}
.total-reorder-btm {
    background-color: transparent !important;
    margin: 0 !important;
}
@media only screen and (max-width: 600px) {
    .totals-box-position {
        position: static;
    }
    .info-body-color {
        margin-left: 0;
        margin-right: 0;
    }
    .view-body-color {
        margin-left: 0;
        margin-right: 0;
    }
    .info-header-text {
        padding-top: 1.5rem;
        padding-left: 0rem;
    }
    .order-page-title {
        margin-left: 0;
    }
    .is-no-radius-body {
        margin-left: 0;
        margin-right: 0;
    }
    .order-status-title {
        margin-left: 0;
    }
    .padding-view {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}
@media only screen and (min-width: 600px) {
    .totals-box-position {
        position: static;
    }
    .reorder-position {
        margin-top: -40px;
    }
}
@media only screen and (min-width: 768px) {
    .table-products {
        overflow-x: auto;
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 32px;
        background-color: transparent;
    }
    .table-products-ship {
        overflow-x: auto;
        width: 100%;
        background-color: transparent;
    }
    .totals-box-position {
        position: absolute;
        top: 330px;
        right: 9%;
        height: 480px;
    }
    .reorder-position {
        margin-top: -65px;
    }
}
@media only screen and (min-width: 992px) {
    .table-products {
        overflow-x: auto;
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 32px;
        background-color: transparent;
    }
    .table-products-ship {
        overflow-x: auto;
        width: 100%;
        background-color: transparent;
    }
    .totals-box-position {
        position: absolute;
        top: 330px;
        right: 6%;
        height: 480px;
    }
    .reorder-position {
        margin-top: -65px;
    }
}
@media only screen and (min-width: 1200px) {
    .table-products {
        overflow-x: auto;
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 32px;
        background-color: transparent;
    }
    .table-products-ship {
        overflow-x: auto;
        width: 100%;
        background-color: transparent;
    }
    .totals-box-position {
        position: absolute;
        top: 330px;
        right: 6%;
        height: 480px;
    }
    .reorder-position {
        margin-top: -65px;
    }
}
.store-locator__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}
.store-locator__product_title {
    font-weight: 700;
    font-size: 25px;
    line-height: 24px;
}
.store-locator__map {
    width: 100%;
    height: 70% !important;
}
.store-locator__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}
.store-locator__store-list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    height: 500px !important;
    max-height: 500px !important;
}
@media only screen and (min-width: 768px) {
    .store-locator__store-list {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        height: 900px !important;
        max-height: 900px !important;
    }
}
.amlocator-range-slider-custom {
    width: 100%;
    height: 10px;
    background: #ececef;
    border-radius: 10px;
    cursor: pointer;
}
.amlocator-range-slider-custom .ui-slider-range {
    height: 100%;
    background: #1ccc1d;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.amlocator-range-slider-custom .amlocator-handle-custom {
    position: absolute;
    top: 50%;
    width: 14px;
    height: 14px;
    margin: 0;
    margin-left: -7px;
    background: #1ccc1d;
    border-radius: 12px;
    box-shadow: 0 2px 3px rgba(20, 72, 112, 0.5);
    transform: translateY(-50%);
    cursor: pointer;
}
.amlocator-range-slider-custom .amlocator-handle-custom:hover,
.amlocator-range-slider-custom .amlocator-handle-custom:focus,
.amlocator-range-slider-custom .amlocator-handle-custom:active {
    background: #20da22;
}
.amlocator-range-slider-custom .amlocator-tooltip-custom {
    position: absolute;
    top: -7px;
    left: 50%;
    padding: 2px 5px;
    font-size: 12px;
    color: #fff;
    white-space: nowrap;
    background: #1ccc1d;
    border-radius: 2px;
    transform: translate(-50%, -100%);
}
.amlocator-range-slider-custom .amlocator-tooltip-custom:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 6px;
    height: 6px;
    background: #1ccc1d;
    transform: translate(-50%, 50%) rotate(45deg);
}
.amlocator-current-location .amlocator-search {
    top: auto !important;
    right: 15px !important;
    height: 20px !important;
    margin-top: 10px;
    background-image: url(../images/shape.png) !important;
}
.amlocator-store-desc.-active {
    color: #000 !important;
    background: #fff !important;
}
.amlocator-store-desc.-active .amlocator-title .amlocator-link {
    color: #000 !important;
}
.amlocator-store-desc.-active .amlocator-today {
    color: #000 !important;
    background: #1ccc1d !important;
}
.amlocator-current-location .amlocator-text {
    border: 1px solid #1ccc1d !important;
    border-radius: 290486px !important;
}
.amlocator-schedule-container .amlocator-today:before {
    background-image: url(../images/time.png) !important;
}
.amlocator-map-container .amlocator-map {
    border-radius: 25px;
}
.amlocator-block-custom {
    margin: 15px;
}
.f_text {
    font-weight: 400;
    font-size: 40px;
    line-height: 50.7px;
}
.f_y {
    color: #e3a322;
}
.f_r {
    color: #db2929;
}
.f_b {
    color: #2f9fe0;
}
.f_y_bg {
    background-color: #dab11b;
    width: 100%;
    height: 2px;
}
.f_r_bg {
    background-color: #da2621;
    width: 100%;
    height: 2px;
}
.f_v_bg {
    background-color: #46c4b4;
    width: 100%;
    height: 2px;
}
.f_n_text {
    font-size: 2vw !important;
}
.f_m_text {
    font-size: 11px !important;
}
.content-center {
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
}
.is-size-ico-big {
    font-size: 8rem !important;
}
.is-size-ico-medium {
    font-size: 5rem !important;
}
.title-mb-sc {
    font-size: 1.5rem;
    line-height: 1.125;
}
.quote-bold {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}
.is-status-success {
    color: #8b8aa4;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
}
.font-box {
    font-family: MarkPro, sans-serif;
}
.hr-quote {
    background: #cccccc;
}
.coment-content {
    max-width: 300px;
    height: 100px;
    word-break: break-all;
    overflow-y: scroll;
}
.product-table-status-discount {
    background-color: #db2929;
    color: #ffffff;
    border-radius: 40px;
    padding-left: 20px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-right: 20px;
    margin: 2px;
}
.quote-bold-price {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
}
.quote-bold-underlined {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #8b8aa4;
    text-decoration: line-through;
}
.price-wrapper.column.pb-0.is-vmiddle span.price {
    display: none;
}
#priceperton {
    display: none;
}
@keyframes load {
    0% {
        opacity: 0.08;
        filter: blur(5px);
        letter-spacing: 3px;
    }
}
.animate {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto;
    font-family: Helvetica, sans-serif, Arial;
    animation: load 1.2s infinite 0s ease-in-out;
    animation-direction: alternate;
    text-shadow: 0 0 1px #fff;
}
html::-webkit-scrollbar {
    display: none;
}
html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
*:focus {
    outline: none;
}
div {
    outline: none;
}
hr {
    height: 1px;
}
.ddmenu-flags {
    left: -7.4rem !important;
}
.footer {
    padding: 0 !important;
}
.tabs {
    margin-bottom: 0px !important;
}
.cms-home .column.main {
    padding: 0px !important;
}
.card-content .price-container .price-label {
    display: none !important;
}
.card-content .price-container .price-wrapper {
    margin: 0px;
    padding: 0px;
}
.table.is-fullwidth .price-label,
.product-add-form .price-label {
    display: none !important;
}
.filter-options a {
    color: inherit;
}
.fieldset,
fieldset {
    border: none;
}
._hidden,
.totals-tax-details {
    display: none;
}
._visible:not(.columns):not(.button),
.expanded:not(.columns):not(.button),
.active:not(.columns):not(.button),
.shown:not(.columns):not(.button) {
    display: block;
}
._visible.button,
.expanded.button,
.active.button,
.shown.button {
    display: inline-flex;
}
._visible.columns,
.expanded.columns,
.active.columns,
.shown.columns {
    display: flex;
}
input.mage-error {
    border-color: #db2929 !important;
}
div.mage-error {
    position: absolute !important;
    padding: 5px 0px 5px 5px !important;
    font-size: 10px !important;
    color: #db2929 !important;
}
#product_addtocart_form .is_uppercase.price-label {
    display: block !important;
}
#product_addtocart_form .title.price-label {
    display: block !important;
}
#product_addtocart_form .price-container {
    margin-top: 13px;
}
#store-pickup.selected-shipping ~ #store-selector {
    display: none;
}
#store-pickup.selected-store-pickup ~ #shipping,
#store-pickup.selected-store-pickup ~ .checkout-shipping-method {
    visibility: hidden;
    height: 0;
    overflow: hidden;
}
#opc-store-selector-popup {
    display: none;
}
#store-pickup-shipping-method-top-fieldset [name="shippingPickupMethodTopAttributes.delivery_truck"] label {
    margin-top: 32px;
    margin-bottom: 0;
}
#opc-shipping_method .checkout-shipping-method,
#opc-shipping_method .checkout-shipping-method-title {
    display: none;
}
.modal-content #opc-store-selector-popup {
    display: block;
}
.modal.modal-popup {
    z-index: 99 !important;
}
.action-primary,
.action-accept {
    background-color: #1ccc1d;
    border: none;
}
.action-primary:hover,
.action-accept:hover {
    background-color: #0b520c;
    color: #fff;
}
.action-secondary,
.action-dismiss {
    background-color: #282b38;
    color: #fff;
    border: none;
}
.action-secondary:hover,
.action-dismiss:hover {
    background-color: #25243e;
    color: #fff;
}
.modal-card-foot {
    justify-content: flex-end !important;
}
[data-role="collapsible"] {
    min-height: 40px;
    margin-top: 10px;
    line-height: 27px;
    cursor: pointer;
}
[data-role="content"]:not(.modal-card-body) {
    margin-bottom: 30px;
}
[data-role="collapsible"] [data-role="trigger"]:after,
[data-role="collapsible"] [data-role="title"]:after {
    font-family: icomoon;
    content: "\e93c";
    font-size: 27px;
    color: #1ccc1d;
    float: right;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
[data-role="collapsible"].active [data-role="trigger"]:after,
[data-role="collapsible"].active [aria-expanded="true"]:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}
.tooltip:after,
.tooltip:before {
    vertical-align: middle;
}
.field.street {
    padding: 0px;
}
.field.street .field .label {
    display: none;
}
.ui-datepicker-trigger {
    display: none;
}
#algolia-autocomplete-container a {
    color: #1ccc1d !important;
}
#algolia-autocomplete-container .aa-dropdown-menu {
    border-top: none;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
#algolia-autocomplete-container .aa-dropdown-menu .tier_price,
#algolia-autocomplete-container .aa-dropdown-menu .algoliasearch-autocomplete-price {
    display: none;
}
@media (max-width: 900px) {
    #algolia-autocomplete-container {
        left: 75px !important;
    }
}
.company_credit-history-index .admin__data-grid-outer-wrap {
    display: none;
}
.notification-error {
    background-color: #db2929 !important;
}
.notification-success {
    background-color: #20baa3 !important;
}
.notification-info {
    background-color: #e3a322 !important;
}
.notification-notice {
    background-color: #2f9fe0 !important;
}
.category-tienda .filter__uso,
.category-tienda .filter__tipo-de-aplicacion,
.category-tienda .filter__nutrientes,
.category-tienda .filter__categoria,
.category-tienda .filter__marcas,
.category-tienda .filter__ingrediente-activo,
.category-tienda .filter__tipo-de-formulacion,
.category-tienda .filter__tipo-de-producto,
.category-tienda .filter__concentracion,
.category-tienda .filter__tecnologia,
.category-tienda .filter__banda-toxicologica,
.category-tienda .filter__subcategoria {
    display: none !important;
}
.category-nutricion-de-cultivos .filter__uso,
.category-fertilizantes .filter__uso,
.category-bioestimulantes .filter__uso,
.category-enmiendas .filter__uso,
.category-nutricion-de-cultivos .filter__categoria,
.category-fertilizantes .filter__categoria,
.category-bioestimulantes .filter__categoria,
.category-enmiendas .filter__categoria,
.category-nutricion-de-cultivos .filter__subcategoria,
.category-fertilizantes .filter__subcategoria,
.category-bioestimulantes .filter__subcategoria,
.category-enmiendas .filter__subcategoria,
.category-nutricion-de-cultivos .filter__ingrediente-activo,
.category-fertilizantes .filter__ingrediente-activo,
.category-bioestimulantes .filter__ingrediente-activo,
.category-enmiendas .filter__ingrediente-activo,
.category-nutricion-de-cultivos .filter__tipo-de-formulacion,
.category-fertilizantes .filter__tipo-de-formulacion,
.category-bioestimulantes .filter__tipo-de-formulacion,
.category-enmiendas .filter__tipo-de-formulacion,
.category-nutricion-de-cultivos .filter__banda-toxicologica,
.category-fertilizantes .filter__banda-toxicologica,
.category-bioestimulantes .filter__banda-toxicologica,
.category-enmiendas .filter__banda-toxicologica,
.category-nutricion-de-cultivos .filter__concentracion,
.category-fertilizantes .filter__concentracion,
.category-bioestimulantes .filter__concentracion,
.category-enmiendas .filter__concentracion {
    display: none !important;
}
.category-agroquimicos .filter__nutrientes,
.category-proteccion-de-cultivos .filter__nutrientes,
.category-agroquimicos .filter__marcas,
.category-proteccion-de-cultivos .filter__marcas,
.category-agroquimicos .filter__ingrediente-activo,
.category-proteccion-de-cultivos .filter__ingrediente-activo,
.category-agroquimicos .filter__tipo-de-formulacion,
.category-proteccion-de-cultivos .filter__tipo-de-formulacion,
.category-agroquimicos .filter__tipo-de-producto,
.category-proteccion-de-cultivos .filter__tipo-de-producto,
.category-agroquimicos .filter__concentracion,
.category-proteccion-de-cultivos .filter__concentracion,
.category-agroquimicos .filter__tecnologia,
.category-proteccion-de-cultivos .filter__tecnologia {
    display: none !important;
}
.category-description {
    display: none !important;
}
.fotorama__nav-wrap.fotorama__nav-wrap--horizontal,
.fotorama__nav--thumbs {
    display: none !important;
}
.category-agroquimicos #nutrientes,
.category-agroquimicos #marcas,
.category-agroquimicos #ingrediente-activo,
.category-agroquimicos #tipo-de-formulacion,
.category-agroquimicos #tipo-de-producto,
.category-agroquimicos #concentracion,
.category-agroquimicos #tecnologia {
    display: none !important;
}
.select-default-border {
    border: 1px solid #1ccc1d !important;
}
body .algolia-instant-results-wrapper .algolia-instant-selector-results #algolia_instant_selector .row {
    display: inline-block;
    width: 100% !important;
}
body .top-container {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
body .top-container .store-button {
    display: inline-block;
    float: right;
}
body .top-container .bread {
    float: left;
    display: inline-block;
}
body .top-container button {
    padding: 0;
}
body .top-container button:hover::before {
    color: #000;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    padding: 5px 0;
    content: "La disponibilidad y precios de los productos que se muestran corresponden a este centro de despacho, si desea cambiarlo haga clic aquÃ­";
}
.catalog-category-view .breadcrumb,
.catalogsearch-result-index .breadcrumb {
    padding-top: 6px;
    padding-bottom: 6px;
}
.catalog-category-view .breadcrumb ul,
.catalogsearch-result-index .breadcrumb ul {
    display: inline-flex;
    width: 100%;
}
.catalog-category-view .breadcrumb ul li,
.catalogsearch-result-index .breadcrumb ul li {
    margin: 0;
}
.catalog-category-view .page-main,
.catalogsearch-result-index .page-main {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 40px;
}
.catalog-category-view .page-main .algolia-instant-selector-results #algolia_instant_selector,
.catalogsearch-result-index .page-main .algolia-instant-selector-results #algolia_instant_selector {
    padding-left: 15px;
}
.catalog-category-view .page-main .algolia-instant-selector-results #algolia_instant_selector .row,
.catalogsearch-result-index .page-main .algolia-instant-selector-results #algolia_instant_selector .row {
    margin: 0 !important;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper #instant-search-pagination-container,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper #instant-search-pagination-container {
    float: right;
    margin-right: 60px;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper #instant-search-pagination-container .ais-Pagination-list,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper #instant-search-pagination-container .ais-Pagination-list {
    display: flex;
    margin-top: 0;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper #instant-search-pagination-container .ais-Pagination-list .ais-Pagination-item--previousPage,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper #instant-search-pagination-container .ais-Pagination-list .ais-Pagination-item--previousPage {
    order: 4 !important;
    font-family: icomoon;
    font-size: 0;
    margin: 0;
    padding: 0;
    display: list-item;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper #instant-search-pagination-container .ais-Pagination-list .ais-Pagination-item--previousPage a::before,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper #instant-search-pagination-container .ais-Pagination-list .ais-Pagination-item--previousPage a::before {
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-family: icomoon;
    content: "\e923";
    font-size: 16px;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 290486px;
    background-color: #282b38;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    margin-right: 0;
    display: flex;
    height: 38px;
    align-items: center;
    color: white;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper #instant-search-pagination-container .ais-Pagination-list .ais-Pagination-item--previousPage span::before,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper #instant-search-pagination-container .ais-Pagination-list .ais-Pagination-item--previousPage span::before {
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-family: icomoon;
    content: "\e923";
    font-size: 16px;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 290486px;
    background-color: #282b38;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    margin-right: 0;
    display: flex;
    height: 38px;
    align-items: center;
    color: white;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper #instant-search-pagination-container .ais-Pagination-list .ais-Pagination-item--page,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper #instant-search-pagination-container .ais-Pagination-list .ais-Pagination-item--page {
    display: none;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper #instant-search-pagination-container .ais-Pagination-list .ais-Pagination-item--disabled ~ .ais-Pagination-item--disabled,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper #instant-search-pagination-container .ais-Pagination-list .ais-Pagination-item--disabled ~ .ais-Pagination-item--disabled {
    display: none;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper #instant-search-pagination-container .ais-Pagination-list .ais-Pagination-item--selected,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper #instant-search-pagination-container .ais-Pagination-list .ais-Pagination-item--selected {
    display: list-item;
    order: 2;
    color: #4a4a4a;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    align-self: center;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper #instant-search-pagination-container .ais-Pagination-list .ais-Pagination-item--selected a,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper #instant-search-pagination-container .ais-Pagination-list .ais-Pagination-item--selected a {
    color: #4a4a4a;
    font-style: inherit;
    font-weight: inherit;
    padding-right: 0;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper #instant-search-pagination-container .ais-Pagination-list .ais-Pagination-item--selected::before,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper #instant-search-pagination-container .ais-Pagination-list .ais-Pagination-item--selected::before {
    content: "PÃ¡gina ";
}
.catalog-category-view .page-main .algolia-instant-results-wrapper #instant-search-pagination-container .ais-Pagination-list .ais-Pagination-item--nextPage,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper #instant-search-pagination-container .ais-Pagination-list .ais-Pagination-item--nextPage {
    order: 5;
    font-family: icomoon;
    margin: 0;
    padding: 0;
    font-size: 0;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper #instant-search-pagination-container .ais-Pagination-list .ais-Pagination-item--nextPage a,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper #instant-search-pagination-container .ais-Pagination-list .ais-Pagination-item--nextPage a {
    font-size: 0;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper #instant-search-pagination-container .ais-Pagination-list .ais-Pagination-item--nextPage a::before,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper #instant-search-pagination-container .ais-Pagination-list .ais-Pagination-item--nextPage a::before {
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-family: icomoon;
    content: "\e922";
    font-size: 16px;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 290486px;
    background-color: #282b38;
    color: #fff;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    margin-left: 0;
    display: flex;
    height: 38px;
    align-items: center;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper #instant-search-pagination-container .ais-Pagination-list li:nth-last-child(2),
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper #instant-search-pagination-container .ais-Pagination-list li:nth-last-child(2) {
    display: list-item;
    order: 3;
    color: #4a4a4a;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    margin-right: 20px;
    align-self: center;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper #instant-search-pagination-container .ais-Pagination-list li:nth-last-child(2) a,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper #instant-search-pagination-container .ais-Pagination-list li:nth-last-child(2) a {
    color: #4a4a4a;
    font-style: inherit;
    font-weight: inherit;
    padding-right: 0;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper #instant-search-pagination-container .ais-Pagination-list li:nth-last-child(2)::before,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper #instant-search-pagination-container .ais-Pagination-list li:nth-last-child(2)::before {
    content: " \00a0 de ";
}
.catalog-category-view .page-main .algolia-instant-results-wrapper .ais-SearchBox-input,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper .ais-SearchBox-input {
    display: none;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper .open-search,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper .open-search {
    display: inline-block !important;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper .hits .algolia-infos,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper .hits .algolia-infos {
    background: transparent;
    text-align: center;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper .hits .algolia-infos .tabs .categories-ul,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper .hits .algolia-infos .tabs .categories-ul {
    display: flex;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper .hits .algolia-infos .sort-by-label,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper .hits .algolia-infos .sort-by-label {
    display: block;
    float: none !important;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper .hits .algolia-infos .pull-right,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper .hits .algolia-infos .pull-right {
    padding: 0.75rem;
    margin-top: 0;
    display: inline-block;
    vertical-align: top;
    padding-right: 30px;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper .hits .algolia-infos #algolia-sorts,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper .hits .algolia-infos #algolia-sorts {
    display: block;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper .hits .algolia-infos .ais-SortBy-select,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper .hits .algolia-infos .ais-SortBy-select {
    border-color: #1ccc1d;
    border-radius: 290486px;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper .hits .algolia-infos .view-mode,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper .hits .algolia-infos .view-mode {
    margin-top: 0;
    vertical-align: top;
    display: inline-block;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper .hits .algolia-infos .view-mode .grid-mode,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper .hits .algolia-infos .view-mode .grid-mode {
    display: inline-block;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper .hits .algolia-infos .view-mode .grid-mode span,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper .hits .algolia-infos .view-mode .grid-mode span {
    background-image: url("../images/gridwhite.png");
    border: none;
    box-shadow: none;
    width: 34px;
    height: 32px;
    display: inline-block;
    color: transparent;
    padding: 0;
    margin: 0;
    background-size: contain;
    cursor: pointer;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper .hits .algolia-infos .view-mode .grid-mode .active,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper .hits .algolia-infos .view-mode .grid-mode .active {
    background-image: url("../images/gridgreen.png");
    border: none;
    box-shadow: none;
    width: 34px;
    height: 32px;
    display: inline-block;
    color: transparent;
    padding: 0;
    margin: 0;
    background-size: contain;
    cursor: pointer;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper .hits .algolia-infos .view-mode .list-mode,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper .hits .algolia-infos .view-mode .list-mode {
    display: inline-block;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper .hits .algolia-infos .view-mode .list-mode span,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper .hits .algolia-infos .view-mode .list-mode span {
    background-image: url("../images/listwhite.png");
    border: none;
    box-shadow: none;
    width: 34px;
    height: 32px;
    display: inline-block;
    color: transparent;
    padding: 0;
    margin: 0;
    background-size: contain;
    cursor: pointer;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper .hits .algolia-infos .view-mode .list-mode .active,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper .hits .algolia-infos .view-mode .list-mode .active {
    background-image: url("../images/listgreen.png");
    border: none;
    box-shadow: none;
    width: 34px;
    height: 32px;
    display: inline-block;
    color: transparent;
    padding: 0;
    margin: 0;
    background-size: contain;
    cursor: pointer;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper .hits .algolia-infos #algolia-stats,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper .hits .algolia-infos #algolia-stats {
    display: none;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper .hits .algolia-infos .show-per-page,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper .hits .algolia-infos .show-per-page {
    margin-top: 0;
    display: inline-block;
    vertical-align: top;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper .hits .algolia-infos #todos-los-filtros,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper .hits .algolia-infos #todos-los-filtros {
    display: inline-block;
    vertical-align: top;
    float: left;
    padding-top: 1.25rem;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper .hits .algolia-infos #todos-los-filtros .ais-ClearRefinements-button,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper .hits .algolia-infos #todos-los-filtros .ais-ClearRefinements-button {
    background-color: #282b38;
    color: #fff;
    border-color: #282b38;
    font-size: 0.75rem;
    line-height: 0;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper .hits .algolia-infos #todos-los-filtros .ais-ClearRefinements-button::after,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper .hits .algolia-infos #todos-los-filtros .ais-ClearRefinements-button::after {
    content: " filtros";
    font-size: 0.75rem;
    color: #fff;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper .hits .algolia-infos #filtros,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper .hits .algolia-infos #filtros {
    display: inline-block;
    vertical-align: top;
    float: left;
    padding-top: 1.25rem;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper .hits .algolia-infos #filtros #current-refinements .ais-CurrentRefinements-list li:last-child,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper .hits .algolia-infos #filtros #current-refinements .ais-CurrentRefinements-list li:last-child {
    display: none;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper .hits .algolia-infos #filtros #current-refinements .ais-CurrentRefinements-list li,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper .hits .algolia-infos #filtros #current-refinements .ais-CurrentRefinements-list li {
    color: #4a4a4a;
    font-size: 0.75rem;
    border: none;
    background-color: transparent;
    line-height: 0;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper .hits .algolia-infos #filtros #current-refinements .ais-CurrentRefinements-list li .ais-CurrentRefinements-label,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper .hits .algolia-infos #filtros #current-refinements .ais-CurrentRefinements-list li .ais-CurrentRefinements-label {
    display: none;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper .hits .algolia-infos #filtros #current-refinements .ais-CurrentRefinements-list li .ais-CurrentRefinements-category,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper .hits .algolia-infos #filtros #current-refinements .ais-CurrentRefinements-list li .ais-CurrentRefinements-category {
    color: #4a4a4a;
    border-radius: 290486px;
    background-color: #dbdbdb;
    height: 2em;
    display: inline-flex;
    line-height: 1.5em;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper .hits .algolia-infos #filtros #current-refinements .ais-CurrentRefinements-list li .ais-CurrentRefinements-delete,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper .hits .algolia-infos #filtros #current-refinements .ais-CurrentRefinements-list li .ais-CurrentRefinements-delete {
    background-color: rgba(10, 10, 10, 0.2);
    color: #fff;
    height: 16px;
    max-height: 16px;
    max-width: 16px;
    min-height: 16px;
    min-width: 16px;
    width: 16px;
    font-size: 7px;
    font-weight: bold;
    margin-right: 5px;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper .hits .algolia-infos #filtros #current-refinements .ais-CurrentRefinements-list li .ais-CurrentRefinements-categoryLabel,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper .hits .algolia-infos #filtros #current-refinements .ais-CurrentRefinements-list li .ais-CurrentRefinements-categoryLabel {
    align-items: center;
    padding-left: 0.75em;
    padding-right: 0.75em;
    line-height: 0;
    position: relative;
    top: 1px;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits {
    padding-bottom: 0;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits .ais-Hits-list,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits .ais-Hits-list {
    text-align: left;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits .ais-Hits-list .ais-Hits-item,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits .ais-Hits-list .ais-Hits-item {
    display: inline-block;
    margin-bottom: 32px;
    float: none;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits .ais-Hits-list .ais-Hits-item .result-thumbnail,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits .ais-Hits-list .ais-Hits-item .result-thumbnail {
    height: 302px;
    text-align: center;
    clear: both;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits .ais-Hits-list .ais-Hits-item .result-thumbnail img,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits .ais-Hits-list .ais-Hits-item .result-thumbnail img {
    display: inline-block;
    margin: auto;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits .list-mode,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits .list-mode {
    font-size: 0;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits .list-mode .ais-Hits-item,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits .list-mode .ais-Hits-item {
    width: 100%;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    margin: 0;
    padding: 0;
    box-shadow: none;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits .list-mode .ais-Hits-item .hit-mode,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits .list-mode .ais-Hits-item .hit-mode {
    width: 100%;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits .list-mode .ais-Hits-item .result-content,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits .list-mode .ais-Hits-item .result-content {
    text-align: center;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits .list-mode .ais-Hits-item .product-item-ingredient,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits .list-mode .ais-Hits-item .product-item-ingredient {
    display: none;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits .list-mode .ais-Hits-item .result-sub-content,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits .list-mode .ais-Hits-item .result-sub-content {
    display: none;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits .list-mode .ais-Hits-item .result-wrapper,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits .list-mode .ais-Hits-item .result-wrapper {
    padding: 8px;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits .list-mode .ais-Hits-item .result-thumbnail,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits .list-mode .ais-Hits-item .result-thumbnail {
    display: none;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits .list-mode .ais-Hits-item .right-top,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits .list-mode .ais-Hits-item .right-top {
    display: none;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits .list-mode .ais-Hits-item .product-item-link,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits .list-mode .ais-Hits-item .product-item-link {
    display: inline-block;
    float: left;
    position: relative;
    top: 6px;
    padding: 0;
    min-height: inherit !important;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits .list-mode .ais-Hits-item .product-item-link span,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits .list-mode .ais-Hits-item .product-item-link span {
    font-size: 0.75rem !important;
    min-height: inherit;
    display: block !important;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits .list-mode .ais-Hits-item .algolia-clearfix,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits .list-mode .ais-Hits-item .algolia-clearfix {
    display: none;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits .list-mode .ais-Hits-item .disponible,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits .list-mode .ais-Hits-item .disponible {
    display: inline-block;
    padding: 0;
    position: relative;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits .list-mode .ais-Hits-item .form-addto,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits .list-mode .ais-Hits-item .form-addto {
    top: -4px;
    width: auto;
    display: inline-block;
    float: right;
    vertical-align: text-bottom;
    position: relative;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits .list-mode .ais-Hits-item .form-addto .primary,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits .list-mode .ais-Hits-item .form-addto .primary {
    margin-top: 0;
}
.catalog-category-view .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits .list-mode .ais-Hits-item .detalles,
.catalogsearch-result-index .page-main .algolia-instant-results-wrapper #instant-search-results-container .ais-Hits .list-mode .ais-Hits-item .detalles {
    display: inline-block;
    float: right;
    padding: 0;
    position: relative;
    top: -4px;
}
.catalog-category-view .page-main .result-wrapper .product-item-ingredient,
.catalogsearch-result-index .page-main .result-wrapper .product-item-ingredient {
    min-height: 24px;
    float: left;
    display: block;
}
.catalog-category-view .page-main .result-wrapper form .primary,
.catalogsearch-result-index .page-main .result-wrapper form .primary {
    width: 100%;
    background: #1ccc1d;
    color: black;
    border: 1px solid #1ccc1d;
}
.catalog-category-view .page-main .result-wrapper .presentacion,
.catalogsearch-result-index .page-main .result-wrapper .presentacion {
    padding: 7px 10px;
    border-radius: 20px;
    background-color: #636384;
    color: #ffffff;
}
.catalog-category-view .page-main .result-wrapper .presentacion::before,
.catalogsearch-result-index .page-main .result-wrapper .presentacion::before {
    background-image: url("../images/cube.png");
    width: 25px;
    height: 25px;
    background-size: 25px;
    display: inline-block;
    content: "";
    vertical-align: middle;
    background-repeat: no-repeat;
    margin-top: -2px;
    margin-right: 5px;
}
.catalog-category-view .page-main .result-wrapper .right-top,
.catalogsearch-result-index .page-main .result-wrapper .right-top {
    float: right;
    padding-bottom: 8px;
    width: 100%;
    vertical-align: middle;
}
.catalog-category-view .page-main .result-wrapper .right-top .leftp,
.catalogsearch-result-index .page-main .result-wrapper .right-top .leftp {
    float: left;
}
.catalog-category-view .page-main .result-wrapper .right-top .rightp,
.catalogsearch-result-index .page-main .result-wrapper .right-top .rightp {
    float: right;
}
.catalog-category-view .page-main .result-wrapper .right-top .towishlist,
.catalogsearch-result-index .page-main .result-wrapper .right-top .towishlist {
    background-color: white;
    border: 1px solid #1ccc1d;
    color: #1ccc1d;
}
.catalog-category-view .page-main .result-wrapper .right-top .towishlist span::before,
.catalogsearch-result-index .page-main .result-wrapper .right-top .towishlist span::before {
    color: #1ccc1d;
}
.catalog-category-view .page-main .result-wrapper .price .price-wrapper,
.catalogsearch-result-index .page-main .result-wrapper .price .price-wrapper {
    text-align: left;
    color: black;
}
.catalog-category-view .page-main .result-wrapper .ratings .rating-summary,
.catalogsearch-result-index .page-main .result-wrapper .ratings .rating-summary {
    text-align: left;
    float: left;
    width: 100%;
    color: #1ccc1d;
}
.catalog-category-view .page-main .result-wrapper .ratings .rating-summary .rating-result span::before,
.catalogsearch-result-index .page-main .result-wrapper .ratings .rating-summary .rating-result span::before {
    color: #1ccc1d;
}
.catalog-category-view .page-main .result-wrapper .product-item-link,
.catalogsearch-result-index .page-main .result-wrapper .product-item-link {
    text-align: left;
    padding-bottom: 0;
    min-height: 72px;
    padding-top: 32px;
}
.catalog-category-view .page-main .result-wrapper .product-item-link span,
.catalogsearch-result-index .page-main .result-wrapper .product-item-link span {
    min-height: 72px;
    width: 100%;
    display: inline-block;
}
.catalog-category-view .page-main .result-wrapper .disponible,
.catalogsearch-result-index .page-main .result-wrapper .disponible {
    text-align: left;
    padding-bottom: 10px;
}
.catalog-category-view .page-main .result-wrapper .disponible span,
.catalogsearch-result-index .page-main .result-wrapper .disponible span {
    width: 100%;
    display: inline-block;
}
.catalog-category-view .page-main .result-wrapper .detalles,
.catalogsearch-result-index .page-main .result-wrapper .detalles {
    padding-bottom: 60px;
}
.catalog-category-view .page-main #instant-search-facets-container #clear-refinements,
.catalogsearch-result-index .page-main #instant-search-facets-container #clear-refinements,
.catalog-category-view .page-main #instant-search-facets-container #current-refinements,
.catalogsearch-result-index .page-main #instant-search-facets-container #current-refinements {
    position: absolute;
    top: -1000px;
}
.catalog-category-view .page-main #instant-search-facets-container .is-widget-container-price_GTQ_default,
.catalogsearch-result-index .page-main #instant-search-facets-container .is-widget-container-price_GTQ_default {
    padding-top: 20px;
}
.catalog-category-view .page-main #instant-search-facets-container .is-widget-container-price_GTQ_default .ais-Panel-header span .name,
.catalogsearch-result-index .page-main #instant-search-facets-container .is-widget-container-price_GTQ_default .ais-Panel-header span .name {
    font-size: 0.7em;
    opacity: 0.5;
    color: #0a0a0a;
    text-transform: capitalize;
}
.catalog-category-view .page-main #instant-search-facets-container .is-widget-container-price_GTQ_default .ais-Panel-header span .name::after,
.catalogsearch-result-index .page-main #instant-search-facets-container .is-widget-container-price_GTQ_default .ais-Panel-header span .name::after {
    content: "";
}
.catalog-category-view .page-main #instant-search-facets-container .is-widget-container-price_GTQ_default .ais-Panel-body,
.catalogsearch-result-index .page-main #instant-search-facets-container .is-widget-container-price_GTQ_default .ais-Panel-body {
    display: inline-block;
    width: 94%;
    margin-left: 3%;
}
.catalog-category-view .page-main #instant-search-facets-container .is-widget-container-price_GTQ_default .ais-Panel-body .rheostat-tooltip,
.catalogsearch-result-index .page-main #instant-search-facets-container .is-widget-container-price_GTQ_default .ais-Panel-body .rheostat-tooltip {
    position: relative;
    top: 25px;
    font-family: "Overlocksc";
    color: #000;
}
.catalog-category-view .page-main #instant-search-facets-container .is-widget-container-price_GTQ_default .ais-Panel-body .rheostat,
.catalogsearch-result-index .page-main #instant-search-facets-container .is-widget-container-price_GTQ_default .ais-Panel-body .rheostat {
    margin: 0;
}
.catalog-category-view .page-main #instant-search-facets-container .is-widget-container-price_GTQ_default .ais-Panel-body .ais-RangeSlider .rheostat-progress,
.catalogsearch-result-index .page-main #instant-search-facets-container .is-widget-container-price_GTQ_default .ais-Panel-body .ais-RangeSlider .rheostat-progress {
    background-color: #1ccc1d;
    display: inline-block;
    top: 0;
}
.catalog-category-view .page-main #instant-search-facets-container .is-widget-container-price_GTQ_default .ais-Panel-body .ais-RangeSlider .rheostat-progress::before,
.catalogsearch-result-index .page-main #instant-search-facets-container .is-widget-container-price_GTQ_default .ais-Panel-body .ais-RangeSlider .rheostat-progress::before {
    background-color: #1ccc1d;
    border: 2px solid #fff;
    box-shadow: 1px 0 7px -2px #888;
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    top: -7px;
    position: absolute;
}
.catalog-category-view .page-main #instant-search-facets-container .is-widget-container-price_GTQ_default .ais-Panel-body .ais-RangeSlider .rheostat-progress::after,
.catalogsearch-result-index .page-main #instant-search-facets-container .is-widget-container-price_GTQ_default .ais-Panel-body .ais-RangeSlider .rheostat-progress::after {
    background-color: #1ccc1d;
    border: 2px solid #fff;
    box-shadow: 1px 0 7px -2px #888;
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: -7px;
}
.catalog-category-view .page-main #instant-search-facets-container .is-widget-container-price_GTQ_default .ais-Panel-body .ais-RangeSlider .rheostat-handle,
.catalogsearch-result-index .page-main #instant-search-facets-container .is-widget-container-price_GTQ_default .ais-Panel-body .ais-RangeSlider .rheostat-handle {
    border: none !important;
}
.catalog-category-view .page-main #instant-search-facets-container .is-widget-container-price_GTQ_default .ais-Panel-body .ais-RangeSlider .rheostat-handle-lower,
.catalogsearch-result-index .page-main #instant-search-facets-container .is-widget-container-price_GTQ_default .ais-Panel-body .ais-RangeSlider .rheostat-handle-lower {
    left: 0 !important;
    position: relative !important;
    visibility: hidden;
    top: 0;
    display: inline-block;
}
.catalog-category-view .page-main #instant-search-facets-container .is-widget-container-price_GTQ_default .ais-Panel-body .ais-RangeSlider .rheostat-handle-lower .rheostat-tooltip,
.catalogsearch-result-index .page-main #instant-search-facets-container .is-widget-container-price_GTQ_default .ais-Panel-body .ais-RangeSlider .rheostat-handle-lower .rheostat-tooltip {
    margin: 0;
    left: 30px;
    right: 0;
    visibility: visible;
    top: 20px;
}
.catalog-category-view .page-main #instant-search-facets-container .is-widget-container-price_GTQ_default .ais-Panel-body .ais-RangeSlider .rheostat-handle-upper,
.catalogsearch-result-index .page-main #instant-search-facets-container .is-widget-container-price_GTQ_default .ais-Panel-body .ais-RangeSlider .rheostat-handle-upper {
    left: calc(100% - 30px) !important;
    position: relative !important;
    visibility: hidden;
    top: 0;
    display: inline-block;
}
.catalog-category-view .page-main #instant-search-facets-container .is-widget-container-price_GTQ_default .ais-Panel-body .ais-RangeSlider .rheostat-handle-upper .rheostat-tooltip,
.catalogsearch-result-index .page-main #instant-search-facets-container .is-widget-container-price_GTQ_default .ais-Panel-body .ais-RangeSlider .rheostat-handle-upper .rheostat-tooltip {
    top: 20px;
    margin: 0;
    right: 30px;
    visibility: visible;
}
.catalog-category-view .page-main #instant-search-facets-container .is-widget-container-categories .ais-Panel-body,
.catalogsearch-result-index .page-main #instant-search-facets-container .is-widget-container-categories .ais-Panel-body {
    display: none;
}
.catalog-category-view
    .page-main
    #instant-search-facets-container
    .is-widget-container-categories
    .ais-Panel-body
    .ais-HierarchicalMenu
    .ais-HierarchicalMenu-list
    li.ais-HierarchicalMenu-item--parent
    .ais-HierarchicalMenu-link
    .ais-HierarchicalMenu-count,
.catalogsearch-result-index
    .page-main
    #instant-search-facets-container
    .is-widget-container-categories
    .ais-Panel-body
    .ais-HierarchicalMenu
    .ais-HierarchicalMenu-list
    li.ais-HierarchicalMenu-item--parent
    .ais-HierarchicalMenu-link
    .ais-HierarchicalMenu-count {
    display: none;
}
.catalog-category-view .page-main #instant-search-facets-container .is-widget-container-categories .ais-Panel-body .ais-HierarchicalMenu .ais-HierarchicalMenu-list li.ais-HierarchicalMenu-item--parent .ais-HierarchicalMenu-list--child,
.catalogsearch-result-index
    .page-main
    #instant-search-facets-container
    .is-widget-container-categories
    .ais-Panel-body
    .ais-HierarchicalMenu
    .ais-HierarchicalMenu-list
    li.ais-HierarchicalMenu-item--parent
    .ais-HierarchicalMenu-list--child {
    display: block;
}
.catalog-category-view
    .page-main
    #instant-search-facets-container
    .is-widget-container-categories
    .ais-Panel-body
    .ais-HierarchicalMenu
    .ais-HierarchicalMenu-list
    li.ais-HierarchicalMenu-item--parent
    .ais-HierarchicalMenu-list--child
    .ais-HierarchicalMenu-list
    .ais-HierarchicalMenu-item
    .ais-HierarchicalMenu-link,
.catalogsearch-result-index
    .page-main
    #instant-search-facets-container
    .is-widget-container-categories
    .ais-Panel-body
    .ais-HierarchicalMenu
    .ais-HierarchicalMenu-list
    li.ais-HierarchicalMenu-item--parent
    .ais-HierarchicalMenu-list--child
    .ais-HierarchicalMenu-list
    .ais-HierarchicalMenu-item
    .ais-HierarchicalMenu-link {
    position: relative;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    margin: 0.5em;
    font-size: 1rem;
    padding-left: 2rem;
}
.catalog-category-view
    .page-main
    #instant-search-facets-container
    .is-widget-container-categories
    .ais-Panel-body
    .ais-HierarchicalMenu
    .ais-HierarchicalMenu-list
    li.ais-HierarchicalMenu-item--parent
    .ais-HierarchicalMenu-list--child
    .ais-HierarchicalMenu-list
    .ais-HierarchicalMenu-item
    .ais-HierarchicalMenu-link
    .ais-HierarchicalMenu-count,
.catalogsearch-result-index
    .page-main
    #instant-search-facets-container
    .is-widget-container-categories
    .ais-Panel-body
    .ais-HierarchicalMenu
    .ais-HierarchicalMenu-list
    li.ais-HierarchicalMenu-item--parent
    .ais-HierarchicalMenu-list--child
    .ais-HierarchicalMenu-list
    .ais-HierarchicalMenu-item
    .ais-HierarchicalMenu-link
    .ais-HierarchicalMenu-count {
    display: none;
}
.catalog-category-view
    .page-main
    #instant-search-facets-container
    .is-widget-container-categories
    .ais-Panel-body
    .ais-HierarchicalMenu
    .ais-HierarchicalMenu-list
    li.ais-HierarchicalMenu-item--parent
    .ais-HierarchicalMenu-list--child
    .ais-HierarchicalMenu-list
    .ais-HierarchicalMenu-item
    .ais-HierarchicalMenu-link::before,
.catalogsearch-result-index
    .page-main
    #instant-search-facets-container
    .is-widget-container-categories
    .ais-Panel-body
    .ais-HierarchicalMenu
    .ais-HierarchicalMenu-list
    li.ais-HierarchicalMenu-item--parent
    .ais-HierarchicalMenu-list--child
    .ais-HierarchicalMenu-list
    .ais-HierarchicalMenu-item
    .ais-HierarchicalMenu-link::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    border: 0.1rem solid #1ccc1d;
    width: 1.5rem;
    height: 1.5rem;
}
.catalog-category-view
    .page-main
    #instant-search-facets-container
    .is-widget-container-categories
    .ais-Panel-body
    .ais-HierarchicalMenu
    .ais-HierarchicalMenu-list
    li.ais-HierarchicalMenu-item--parent
    .ais-HierarchicalMenu-list--child
    .ais-HierarchicalMenu-list
    .ais-HierarchicalMenu-item
    .ais-HierarchicalMenu-count,
.catalogsearch-result-index
    .page-main
    #instant-search-facets-container
    .is-widget-container-categories
    .ais-Panel-body
    .ais-HierarchicalMenu
    .ais-HierarchicalMenu-list
    li.ais-HierarchicalMenu-item--parent
    .ais-HierarchicalMenu-list--child
    .ais-HierarchicalMenu-list
    .ais-HierarchicalMenu-item
    .ais-HierarchicalMenu-count {
    display: none;
}
.catalog-category-view
    .page-main
    #instant-search-facets-container
    .is-widget-container-categories
    .ais-Panel-body
    .ais-HierarchicalMenu
    .ais-HierarchicalMenu-list
    li.ais-HierarchicalMenu-item--parent
    .ais-HierarchicalMenu-list--child
    .ais-HierarchicalMenu-list
    .ais-HierarchicalMenu-item--selected
    .ais-HierarchicalMenu-link--selected
    .cross-circle,
.catalogsearch-result-index
    .page-main
    #instant-search-facets-container
    .is-widget-container-categories
    .ais-Panel-body
    .ais-HierarchicalMenu
    .ais-HierarchicalMenu-list
    li.ais-HierarchicalMenu-item--parent
    .ais-HierarchicalMenu-list--child
    .ais-HierarchicalMenu-list
    .ais-HierarchicalMenu-item--selected
    .ais-HierarchicalMenu-link--selected
    .cross-circle {
    display: none;
}
.catalog-category-view
    .page-main
    #instant-search-facets-container
    .is-widget-container-categories
    .ais-Panel-body
    .ais-HierarchicalMenu
    .ais-HierarchicalMenu-list
    li.ais-HierarchicalMenu-item--parent
    .ais-HierarchicalMenu-list--child
    .ais-HierarchicalMenu-list
    .ais-HierarchicalMenu-item--selected
    .ais-HierarchicalMenu-link--selected::after,
.catalogsearch-result-index
    .page-main
    #instant-search-facets-container
    .is-widget-container-categories
    .ais-Panel-body
    .ais-HierarchicalMenu
    .ais-HierarchicalMenu-list
    li.ais-HierarchicalMenu-item--parent
    .ais-HierarchicalMenu-list--child
    .ais-HierarchicalMenu-list
    .ais-HierarchicalMenu-item--selected
    .ais-HierarchicalMenu-link--selected::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translateY(0) rotate(45deg);
    -ms-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
    border-width: 0.1rem;
    border-style: solid;
    border-color: #1ccc1d;
    border-top: 0;
    border-left: 0;
    width: 0.375rem;
    height: 0.6rem;
    top: 0.405rem;
    left: 0.6rem;
    display: inline-block;
    position: absolute;
    content: "";
}
.catalog-category-view .page-main #instant-search-facets-container div,
.catalogsearch-result-index .page-main #instant-search-facets-container div {
    cursor: pointer;
}
.catalog-category-view .page-main #instant-search-facets-container div .ais-SearchBox-input,
.catalogsearch-result-index .page-main #instant-search-facets-container div .ais-SearchBox-input {
    display: none;
}
.catalog-category-view .page-main #instant-search-facets-container div .ais-Panel-body,
.catalogsearch-result-index .page-main #instant-search-facets-container div .ais-Panel-body {
    padding: 0;
}
.catalog-category-view .page-main #instant-search-facets-container div .ais-Panel-body .ais-SearchBox-form,
.catalogsearch-result-index .page-main #instant-search-facets-container div .ais-Panel-body .ais-SearchBox-form {
    display: none;
}
.catalog-category-view .page-main #instant-search-facets-container div .ais-Panel-body .ais-RefinementList-searchBox,
.catalogsearch-result-index .page-main #instant-search-facets-container div .ais-Panel-body .ais-RefinementList-searchBox {
    display: none;
}
.catalog-category-view .page-main #instant-search-facets-container div .ais-Panel-body .ais-RefinementList-searchBox .ais-SearchBox-input,
.catalogsearch-result-index .page-main #instant-search-facets-container div .ais-Panel-body .ais-RefinementList-searchBox .ais-SearchBox-input {
    width: 100%;
    text-align: left;
    border-radius: 20px;
    background: #eeeeee;
    border: none;
    height: 42px;
    margin: 0;
    padding-left: 55px;
    font-size: 1rem;
}
.catalog-category-view .page-main #instant-search-facets-container div .ais-Panel-body .ais-RefinementList-searchBox .ais-SearchBox-input::placeholder,
.catalogsearch-result-index .page-main #instant-search-facets-container div .ais-Panel-body .ais-RefinementList-searchBox .ais-SearchBox-input::placeholder {
    color: #000;
    text-align: center;
}
.catalog-category-view .page-main #instant-search-facets-container div .ais-Panel-body .ais-RefinementList-searchBox .ais-SearchBox-submit,
.catalogsearch-result-index .page-main #instant-search-facets-container div .ais-Panel-body .ais-RefinementList-searchBox .ais-SearchBox-submit {
    display: inline-block;
    border-radius: 20px;
    position: absolute;
    left: 16px;
    height: 42px;
    top: 0;
}
.catalog-category-view .page-main #instant-search-facets-container div .ais-Panel-body .ais-RefinementList-searchBox .ais-SearchBox-submit .ais-SearchBox-submitIcon,
.catalogsearch-result-index .page-main #instant-search-facets-container div .ais-Panel-body .ais-RefinementList-searchBox .ais-SearchBox-submit .ais-SearchBox-submitIcon {
    display: none;
}
.catalog-category-view .page-main #instant-search-facets-container div .ais-Panel-body .ais-RefinementList-searchBox .ais-SearchBox-submit::before,
.catalogsearch-result-index .page-main #instant-search-facets-container div .ais-Panel-body .ais-RefinementList-searchBox .ais-SearchBox-submit::before {
    content: "\e915";
    font-family: icomoon;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 22px;
    color: #1ccc1d;
    -webkit-font-smoothing: antialiased;
}
.catalog-category-view .page-main #instant-search-facets-container div .ais-RefinementList-list,
.catalogsearch-result-index .page-main #instant-search-facets-container div .ais-RefinementList-list {
    display: none;
}
.catalog-category-view .page-main #instant-search-facets-container div .ais-RefinementList-list .ver-mas,
.catalogsearch-result-index .page-main #instant-search-facets-container div .ais-RefinementList-list .ver-mas {
    color: #1ccc1d;
    font-size: 0.75rem;
    text-align: center;
    display: none;
    width: 100%;
}
.catalog-category-view .page-main #instant-search-facets-container div .ais-RefinementList-list .ais-RefinementList-item,
.catalogsearch-result-index .page-main #instant-search-facets-container div .ais-RefinementList-list .ais-RefinementList-item {
    padding-left: 1.5rem;
    margin-bottom: 24px;
}
.catalog-category-view .page-main #instant-search-facets-container div .ais-RefinementList-list .ais-RefinementList-item:nth-child(1n + 6),
.catalogsearch-result-index .page-main #instant-search-facets-container div .ais-RefinementList-list .ais-RefinementList-item:nth-child(1n + 6) {
    display: none;
}
.catalog-category-view .page-main #instant-search-facets-container div .ais-RefinementList-list .ais-RefinementList-item:nth-child(1n + 6) + .ver-mas,
.catalogsearch-result-index .page-main #instant-search-facets-container div .ais-RefinementList-list .ais-RefinementList-item:nth-child(1n + 6) + .ver-mas {
    display: inline-block;
}
.catalog-category-view .page-main #instant-search-facets-container div .ais-RefinementList-list .ais-RefinementList-item input[value="--Seleccione--"],
.catalogsearch-result-index .page-main #instant-search-facets-container div .ais-RefinementList-list .ais-RefinementList-item input[value="--Seleccione--"] {
    display: none;
}
.catalog-category-view .page-main #instant-search-facets-container div .ais-RefinementList-list .ais-RefinementList-item input[value="--Seleccione--"] ~ label,
.catalogsearch-result-index .page-main #instant-search-facets-container div .ais-RefinementList-list .ais-RefinementList-item input[value="--Seleccione--"] ~ label {
    display: none;
}
.catalog-category-view .page-main #instant-search-facets-container div .ais-RefinementList-list .ais-RefinementList-item input[value="-- Please Select --"],
.catalogsearch-result-index .page-main #instant-search-facets-container div .ais-RefinementList-list .ais-RefinementList-item input[value="-- Please Select --"] {
    display: none;
}
.catalog-category-view .page-main #instant-search-facets-container div .ais-RefinementList-list .ais-RefinementList-item input[value="-- Please Select --"] ~ label,
.catalogsearch-result-index .page-main #instant-search-facets-container div .ais-RefinementList-list .ais-RefinementList-item input[value="-- Please Select --"] ~ label {
    display: none;
}
.catalog-category-view .page-main #instant-search-facets-container div .ais-RefinementList-list .ais-RefinementList-item .ais-RefinementList-count,
.catalogsearch-result-index .page-main #instant-search-facets-container div .ais-RefinementList-list .ais-RefinementList-item .ais-RefinementList-count {
    display: none;
}
.catalog-category-view .page-main #instant-search-facets-container div .ais-Panel-header .name::after,
.catalogsearch-result-index .page-main #instant-search-facets-container div .ais-Panel-header .name::after {
    font-family: icomoon;
    content: "\e93c";
    font-size: 27px;
    color: #1ccc1d;
    float: right;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    line-height: 1;
}
.catalog-category-view .page-main #instant-search-facets-container div .ais-Panel-header .open::after,
.catalogsearch-result-index .page-main #instant-search-facets-container div .ais-Panel-header .open::after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}
.catalog-category-view .page-main #instant-search-facets-container .is-widget-container-crops .ais-Panel-body .ais-SearchBox-form,
.catalogsearch-result-index .page-main #instant-search-facets-container .is-widget-container-crops .ais-Panel-body .ais-SearchBox-form {
    display: block;
}
.catalogsearch-result-index #maincontent .algolia-instant-results-wrapper #algolia-right-container #instant-search-bar {
    display: none;
}
.catalogsearch-result-index #maincontent .algolia-instant-results-wrapper #algolia-right-container .hits .algolia-infos #filtros #current-refinements .ais-CurrentRefinements .ais-CurrentRefinements-list li:last-child {
    display: inline-block;
}
@media (max-width: 767px) {
    body .algolia-instant-selector-results div#algolia_instant_selector {
        padding: 0 !important;
    }
    body .algolia-instant-selector-results div#algolia_instant_selector .row {
        display: block !important;
    }
    body .algolia-instant-selector-results div#algolia_instant_selector #filtros {
        padding: 0;
    }
    body .algolia-instant-selector-results div#algolia_instant_selector .pull-right {
        display: none;
    }
    body .algolia-instant-selector-results div#algolia_instant_selector #todos-los-filtros {
        clear: both;
        padding: 0;
    }
    body .algolia-instant-selector-results div#algolia_instant_selector #instant-search-bar {
        display: none;
    }
    body .algolia-instant-selector-results div#algolia_instant_selector .ais-Hits {
        padding-top: 0;
    }
    body .algolia-instant-selector-results div#algolia_instant_selector .ais-Hits .ais-Hits-item {
        width: 100%;
        float: none;
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    body .algolia-instant-selector-results div#algolia_instant_selector .ais-Hits .ais-Hits-item .hit-mode {
        padding: 0;
    }
    body .algolia-instant-selector-results div#algolia_instant_selector #algolia-right-container {
        padding: 0;
    }
    body .algolia-instant-selector-results div#algolia_instant_selector .ais-CurrentRefinements-list {
        margin: 0;
        text-align: left;
        display: inline-flex;
    }
    body .algolia-instant-selector-results div#algolia_instant_selector .ais-CurrentRefinements-list .ais-CurrentRefinements-item {
        margin: 0;
        padding: 0;
    }
    body .algolia-instant-selector-results div#algolia_instant_selector .ais-CurrentRefinements-list .ais-CurrentRefinements-item span {
        margin: 0;
    }
    body .algolia-instant-selector-results div#algolia_instant_selector #hits {
        position: relative;
        top: -30px;
    }
    body .algolia-instant-selector-results div#algolia_instant_selector #instant-search-results-container .ais-Hits .ais-Hits-item {
        -webkit-box-shadow: 0 4px 28px rgba(0, 0, 0, 0.1);
        box-shadow: 0 4px 28px rgba(0, 0, 0, 0.1);
        border-radius: 16px;
    }
    body .algolia-instant-selector-results div#algolia_instant_selector #instant-search-results-container .ais-Hits .ais-Hits-item .result-wrapper {
        padding: 1.5rem;
    }
    body .algolia-instant-selector-results div#algolia_instant_selector #algolia-left-container {
        border: none;
        box-shadow: none;
        display: inline-block;
        width: 100%;
        text-align: center;
        padding: 0.75rem;
        margin: 0;
        padding-bottom: 0;
    }
    body .algolia-instant-selector-results div#algolia_instant_selector #algolia-left-container #instant-search-facets-container {
        -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.16);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.16);
        border-radius: 4px 4px 16px 16px;
        padding: 2rem 1rem;
    }
    body .algolia-instant-selector-results div#algolia_instant_selector #algolia-left-container #instant-search-facets-container .name {
        text-align: left;
    }
    body .algolia-instant-selector-results div#algolia_instant_selector #algolia-left-container #instant-search-facets-container .ais-RefinementList-item {
        padding-left: 10px !important;
        text-align: left;
    }
    body .algolia-instant-selector-results div#algolia_instant_selector #algolia-left-container h3 {
        border-radius: 2px;
        font-size: 0.75rem;
        text-decoration: underline;
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        padding: 0.75rem;
        display: none;
    }
    body .algolia-instant-selector-results div#algolia_instant_selector #algolia-left-container h3::before {
        content: "\e918";
        font-family: icomoon !important;
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    body .algolia-instant-selector-results div#algolia_instant_selector #algolia-left-container #refine-toggle {
        font-size: 0;
        color: #1ccc1d;
        border-left: none;
        border-right: none;
        margin: 0;
    }
    body .algolia-instant-selector-results div#algolia_instant_selector #algolia-left-container #refine-toggle::before {
        content: "\e918";
        font-family: icomoon !important;
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 18px;
        vertical-align: middle;
    }
    body .algolia-instant-selector-results div#algolia_instant_selector #algolia-left-container #refine-toggle::after {
        content: " Filtrar por";
        font-size: 0.75rem;
        vertical-align: middle;
    }
    .top-container .store-button {
        float: none;
        padding: 0;
        width: 100%;
    }
    .top-container .store-button button:hover::before {
        content: "";
    }
}
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }